/*========================================================
                        Camera
=========================================================*/
.camera_container {
  position: relative;
  padding-bottom: 24.39%; }

@media (max-width: 1640.0164px) {
  .camera_container {
    padding-bottom: 400px; } }
.camera_wrap {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  margin-bottom: 0 !important;
  height: 100%;
  background: #FFF;
  z-index: 0; }

.camera_wrap img {
  max-width: none !important; }

.camera_fakehover {
  height: 100%;
  min-height: 60px;
  position: relative;
  width: 100%; }

.camera_src {
  display: none; }

.cameraCont, .cameraContents {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1; }

.cameraSlide {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.cameraContent {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none; }

.camera_target {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  text-align: left;
  z-index: 0; }

.camera_overlayer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 0; }

.camera_target_content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 2; }

.camera_loader {
  background: #FFF url(../images/camera-loader.gif) no-repeat center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 64px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  margin: -18px 0 0 -18px;
  top: 50%;
  width: 64px;
  z-index: 3; }

.camera_nav_cont {
  height: 65px;
  overflow: hidden;
  position: absolute;
  right: 9px;
  top: 15px;
  width: 120px;
  z-index: 4; }

.camerarelative {
  overflow: hidden;
  position: relative; }

.imgFake {
  cursor: pointer; }

.camera_command_wrap .hideNav {
  display: none; }

.camera_command_wrap {
  left: 0;
  position: relative;
  right: 0;
  z-index: 4; }

.showIt {
  display: none; }

.camera_clear {
  clear: both;
  display: block;
  height: 1px;
  margin: -1px 0 25px;
  position: relative; }

.camera_caption {
  display: none; }

.cameraContent .camera_caption {
  display: block; }

/*================   Custom Layout&Styles   =====================*/
.camera_caption {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-49%);
  -ms-transform: translateY(-49%);
  -o-transform: translateY(-49%);
  -webkit-transform: translateY(-49%);
  transform: translateY(-49%);
  left: 0;
  right: 0; }
  .camera_caption p {
    color: #FFF; }
  .camera_caption > div {
    height: 100%; }
  .camera_caption .btn-wrap a + a {
    margin-left: 20px; }

.camera_pag {
  position: absolute;
  bottom: 0;
  margin-bottom: 30px;
  left: 0;
  right: 0; }
  .camera_pag_ul {
    text-align: center; }
    .camera_pag_ul li {
      display: inline-block;
      width: 14px;
      height: 14px;
      line-height: 12px;
      text-align: center;
      cursor: pointer;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: solid 2px #FFF;
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease; }
      .camera_pag_ul li.cameracurrent, .camera_pag_ul li:hover {
        background: #FFF; }
      .camera_pag_ul li + li {
        margin-left: 4px; }
      .camera_pag_ul li > span {
        display: none; }
  @media (max-width: 1560px) {
    .camera_pag {
      margin-bottom: 15px; } }

@media (max-width: 991px) {
  .camera_caption h2 {
    font-size: 25px;
    line-height: 30px; } }
@media (max-width: 479px) {
  .camera_caption p {
    display: none; }
  .camera_caption .btn-wrap [class*='btn'] {
    display: block;
    min-width: 200px; }
  .camera_caption .btn-wrap a + a {
    margin-left: 0;
    margin-top: 10px; } }
